<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite name ="SDET Automation Assignment Test Suite">
         
       
  <test name="SDET Automation Test Cases">
	 <classes>
	   <class name="com.sdet.testcases.LoginPageTest"/>
	 </classes>
   </test>
</suite>